
*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
}
header{
    background: #800020;
    color: #fff;
    padding: 1rem;
}
ul{
    list-style: none;
    padding: 0; 
   
}
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}
footer {
    border-top: 1px solid #333;
    background-color: #5C0013;
    color: #fff;
    padding: 1rem;
}

/*buttons: Sky Blue
#4DA8DA*/