/*Review form assignment*/


/*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    

}
header, footer{
    background-color: rgb(64, 0, 64);
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    font-family: 'georgia', serif;
}
.form-container{
    
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #efeded;
    margin: 1rem 0;
    padding: 1rem;
    
}
form{
width: 100%;
padding: 1rem;

}
label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
input[type="text"],
input[type="date"],
select,
textarea,
input[type="submit"]{
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"]{
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
}
input[type="submit"]:hover{
    background-color: rgb(154, 154, 232);
    
}
.optional{
    color:rgb(64, 0, 64);
    padding-left: 1rem;
}
footer{
text-align: center;
background-color: rgb(64, 0, 64);
color: #fff;
padding: 1rem;
}

@media (min-width:780px){
    
    .form-container{
        max-width: 1200px;
        width: 100%;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background-color: aqua;
        gap: 2rem;
        margin: 1rem 0;
    }
}


/* footer{
    text-align: center;
    background-color: rgb(64, 0, 64);
    color: #fff;
    padding: 1rem;
} */
