:root{
    --main-color: #fff;
    --main-measurement: 2rem;
    --main-background:  #c43e26;
    --hover-color: #171717;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    list-style: none;
    font-family: "spline sans";
    /* padding: 2rem; */
}
header{
    display: flex;
    position:relative;
    justify-content: space-evenly;
    
    background-color: var(--main-background);
    color: var(--main-color);
    padding: 1rem;
    margin-bottom: var(--main-measurement);
}
nav{
   display: flex;
}
header .nav-title{
    margin: 4px 0;
    font-family: "open sans";
    font-weight: bold;
    font-size: 1.5rem;
}
header ul{
    text-align: center;
    margin-top: 1rem;
}


/*** Mobile device part*/
/*From Burger button to show nav bar */

/*NAVIGATION-------------------------------*/

.navigation{

    display: none;

    flex-direction: column;

    list-style: none;

    /* position: absolute; */

    top: 50%;
    right: 0;

    width: 100%;

    background: #444;

    text-align: center;

    padding: 1rem 0;
}
.navigation li{
    padding: 0.5rem 0;
}

/** SHOW MENU **/

.navigation.show{
    display: flex;
}

/** LINKS **/

.navigation a{

    /* display: block; */

    padding: 1rem;

    color: white;

    text-decoration: none;

}

.navigation a:hover{
    background: var(--hover-color);
}

/** BURGER BUTTON **/

#burger{

    display: block;

    margin: 1rem;

    width: 2rem;

    height: 2rem;

    background: transparent;

    border: none;

    position: relative;

    cursor: pointer;
}

/** BURGER ICON **/

#burger::before{

    content: "☰";

    color: white;

    font-size: 2rem;

    position: absolute;

    top: -10px;
    left: 0;
}

/** X ICON **/

#burger.show::before{

    content: "✕";
}
/* .captions{
    display: flex;
    flex-direction:column;
    justify-content: center;
} */

/** DESKTOP VERSION **/

@media (min-width:780px){

    /** HIDE BURGER **/

    #burger{
        display: none;
    }

    /** SHOW NAVIGATION **/

    .navigation{

        display: flex;

        flex-direction: row;

        justify-content: flex-end;

        position: static;

        width: auto;

        background: transparent;

        padding: 0;
    }

    /** IMAGE GRID **/

    /* .captions{
        grid-template-columns: 1fr 1fr 1fr;
    } */
}

main h2{
    display: flex;
    justify-content: center;
    margin-bottom: var(--main-measurement);
}


footer{
    /* background-color: rgb(254, 102, 75); */
    background-color:  var(--main-background);
    color: var(--main-color);
    margin-top: var(--main-measurement);
    padding: 1rem;
}
#updateDate, #lastModified{
    color: var(--main-color);
}
footer p{
    padding: 0.5rem;
}
.captions{
    display: grid;
    border: 1rem var(--hover-color);
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
     
} 
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #333;
    background-color: rgb(224, 224, 241);
    padding: 1rem;
    text-align: center;

}
section p{
    margin: 0.5rem 0;

}
section h3{
    margin: 0.5rem 0;
}
section img{
    border-radius: 0.5rem;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    /* box-shadow: 0 3px 3px rgb(18, 18, 18); */
    /*box-shadow: 0 3px 3px var(--hover-color);
    animation: fade 10s;*/
}

/* .captions img{
    border-radius: 0.5rem;
    display: block;
    max-width: 100%;
    margin: 0 1rem;
    /* box-shadow: 0 3px 3px rgb(18, 18, 18); */
    /*box-shadow: 0 3px 3px var(--hover-color);
    animation: fade 10s;
    
} */



