:root{
    --first-background-color: rgb(64, 0, 64);
    --second-background-color: #efeded;
    --third-background-color:  rgb(154, 154, 232);
    --white-color: #fff;
    --border-color: #ccc;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* HEADER & FOOTER */
header, footer {
    background-color: var(--first-background-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
    font-family: Georgia, serif;
}

/* FORM CONTAINER */
.form-container {
    max-width: 900px;
    margin: 2rem auto;
    background-color: var(--second-background-color);
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

/* FORM GRID */
form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

/* FORM GROUP */
.form-group {
    display: flex;
    flex-direction: column;
}

/* LABELS */
label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.label-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* INPUTS */
input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--third-background-color);
    border-radius: 4px;
}



/* CHECKBOX & RADIO GROUPS */
.rating {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.rating input {
    margin-right: 0.2rem;
}

.form-group label input[type="checkbox"],
input[type="ratio"] {
    margin-right: 0.5rem;
    cursor: pointer;
}

/* OPTIONAL TEXT */
.optional {
    color: rgb(64, 0, 64);
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

/* BUTTON */
button {
    padding: 0.7rem;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

button:hover {
    background-color: var(--third-background-color);
}

/* RESPONSIVE */
@media (min-width: 780px) {
    form {
        grid-template-columns: 1fr 1fr;
    }

    .form-group {
        grid-column: span 2;
    }

    .rating {
        justify-content: flex-start;
    }
}


