/**Mobile device code**/

/**BURGER BUTTON**/

#burger{
    display: none;
    margin: 1rem;
    width: 2rem;
    height: 4px;
    background: transparent;
    border: none;
    transition: 0.3s;
    position: relative;


}
/**Top and Button lines**/

#burger:before{
    content:"☰";
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: -10px;
    left: 0;
    
}


/**Transform Burger Into X **/
#burger.show::before{
    background: transparent;
    content: "✕";
}


/**Mobile version**/

@media (max-width:780px){
    #burger{
        display: block;
    }

    /**Hide Navbar**/

    .navigation{
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top:100%;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
    }

    /**Show menu when open**/
    /**new code**/

    .navigation.show{

        display: flex;
    }

    nav li{
        padding: 1rem 0;
    }
    .captions{
        display: grid;
        grid-template-columns: 1fr;
    }
}