/*** Mobile device part*/
/*From Burger button to show nav bar */

/*NAVIGATION-------------------------------*/

.navigation{

    display: none;

    flex-direction: column;

    list-style: none;

    /* position: absolute; */

    top: 50%;
    right: 0;

    width: 100%;

    background: #444;

    text-align: center;

    padding: 1rem 0;
}
.navigation li{
    padding: 0.5rem 0;
}

/** SHOW MENU **/

.navigation.show{
    display: flex;
}

/** LINKS **/

.navigation a{

    /* display: block; */

    padding: 1rem;

    color: white;

    text-decoration: none;

}

.navigation a:hover{
    background: var(--hover-color);
}

/** BURGER BUTTON **/

#burger{

    display: block;

    margin: 1rem;

    width: 2rem;

    height: 2rem;

    background: transparent;

    border: none;

    position: relative;

    cursor: pointer;
}

/** BURGER ICON **/

#burger::before{

    content: "☰";

    color: white;

    font-size: 2rem;

    position: absolute;

    top: -10px;
    left: 0;
}

/** X ICON **/

#burger.show::before{

    content: "✕";
}

